* {
    margin: 0;
    padding: 0;
}
body {

    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #333
}

.conteudo {

    width: 80%;
    margin: 0 auto;
       

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    

}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 10px;
}

.info {
    display: flex;
    align-items: center;
}

ul {
     list-style: none;
}
.contatos {
    margin-bottom: 30px;
}

.redes-sociais {
    display: flex;
    justify-content: space-between;
    width: 100px;
    

}

.experiencia {
    display: flex;
    align-items: center;
    justify-content: space-between
}



.esquerda {
    width: 20%;
    text-align: right;
}


.titulo-sessao,
.subtitulo-sessao {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.subtitulo-sessao {
    font-size: 16px;
}

.direita {
    width: 78%;
    margin: 20px;
}

.data {
    margin-bottom: 10px;
    font-style: italic
}


.descricao {
    margin-bottom: 10px;
}

.aloi {
    margin-bottom: 10px;
}

.rodape {
background: #333;
color: #f1f1f1;
text-align:center;
padding: 20px;
margin-top: 30px;
}


